html{
     font-family:"Georgia", serif; 
    
    /* Gif background instead of video */
    background-image: url(sidewalk.gif);
    background-size: cover;
    
   
    
}

@media(max-width:900px){
    
    video{
        display: none;
    }
}


/*
#sidewalk{
    
    
    position: fixed;
    z-index: -1;
    
    min-width: 100vw;
    min-height: 100vh;
    
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/


#myPlayBtn {
     z-index: 1;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transform: translate(575%, -100%);
    transition: color 1.25s;
    
}

#myPlayBtn:hover {
    background: #ddd;
    color: green;
}



#myMuteBtn {
    z-index: 1;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: color 1.25s;
}

#myMuteBtn:hover {
    background: #ddd;
    color: green;
    

}


h1{
    
   
    
}
section{
    
    position: relative;
    display: flex;
    flex-flow:row;
    align-items: stretch;
    
}



#tourList{
    
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400px;   
    
}

#tourList a{
    
    color: cornsilk;
    text-decoration: none;
    transition: color 1.25s;
    font-weight: 300;
}

#tourList a:hover{
    color:mediumspringgreen;
}