html{
    
   font-family: Georgia, Times, "Times New Roman", serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
    
}

 /*#tour{
    
    z-index: 1;
}
*/

#sidewalk{
    
    
    position: fixed;
    z-index: -1;
    
    min-width: 100vw;
    min-height: 100vh;
    
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myPlayBtn {
     /*z-index: 1;*/
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transform: translate(575%, -100%);
    
}

#myPlayBtn:hover {
    background: #ddd;
    color: black;
}



#myMuteBtn {
    /*z-index: 1;*/
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myMuteBtn:hover {
    background: #ddd;
    color: black;
}
